.frame {
    position: relative;
    width: 250px;
    height: 250px;
    background-color:black;
    border-radius: 10px;
    -webkit-box-shadow: 10px 18px 31px -4px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 18px 31px -4px rgba(0,0,0,0.35);
    box-shadow: 10px 18px 31px -4px rgba(0,0,0,0.35);
}

.timer {
    color: white;
    text-align: center;
    font-size: 45px;
    font-family: 'helvetica';
    font-weight: 200;
    padding-top: 47px;
    padding-bottom: 30px;
}

.button.row {
    position: relative;
}

.animated-container {
    position: relative;
    left: 70%;
    transform: translate(-50%);
    width: 100px;
}

.button-outer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button {
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    
}

.button.go {
    background-color: #00FF96;
    height: 70px;
    width: 70px;
    text-align: center;
    color: #006d40;
    transition: background-color 0.2s;
}

.button.go:hover {
    background-color: transparent;
    border-color: #00FF96;
    border-style: solid;
    transition: background-color 0.3s;
}

.button.reset {
    position: absolute;
    left: 27%;
    bottom: 15%;
    background-color: #9c958f;
    width: 50px;
    height: 50px;
    color:white;
    font-size: 14px;
    transform: translate(-50%, -50%);
}

.button.reset:hover {
    background-color: transparent;
    border-color: #b6a99f;
    border-style: solid;
    transition: background-color 0.3s;
}

.button-label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
}
